@CHARSET "UTF-8";

.contentBox {
	background-color: #F0FFFF;
	width: 90%;
	margin-left: 60px;
}

.contentBox .item {
	display: inline-block;
	float: left;
	/* margin-left:30px; */
	margin-right: 30px;
	margin-top: 30px;
}

.contentBox .item img {
	width: 250px;
	height: 160px;
	border: 1rpx solid;
}

.contentBox .item .price {
	color: red;
	display: block;
	text-align: left;
}

.contentBox .item .name {
	display: inline-block;
	font-weight: bolder;
}

.contentBox .item .city {
	margin-left: 28px;
	display: inline-block;
}